.App {
  text-align: center; 
  background-color: #f4f6f7;
}



.cursive {
  font-family: 'Caveat', cursive;
}

.banner-text {
  font-size:7em;
  padding-right: 1rem;
}

.homepage-hero {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;  
  background-image: linear-gradient( rgba(234, 238, 246, 0.7), rgba(252, 252, 253, 0.7));
  opacity: var(--mainOpacity);
  height: 25em !important;
}

.hero-text {
  font-size: 2rem;
}

.gallery {    
    -webkit-column-count:3;
    -moz-column-count: 3;
    -column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    -column-width: 33%;
    padding: 0px;
    
  }

  .gallery p{
    font-size: 2em;
  }
  
  .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;    
   }

   .gallery .pics:hover {
    filter: opacity(.8);
   }

   .connect {
    font-size: 5em;      
}

.contact-label {
 font-size: 1.5rem;
}

.contact-icon {
  height: 50px;
  width: 50px;  
}

.about-container {
  width: 90%;  
  padding: 2%;       
  margin:  1em 0 0 2em; 
  display: flex;    
  flex-wrap: wrap;    
}

.about-section-image {
  max-width: 100%;
  max-height: 90%;
  padding-top: 2.25em;
}
.about-emphasis {
  font-size: 2em;    
}

.about-section-banner {
  font-size: 2em; 
  margin-top:40px;            
}

   





